altgraph==0.17.4
annotated-types==0.7.0
anyio==4.13.0
asgiref==3.9.1
cachetools==6.2.6
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.4.1
colorama==0.4.6
cryptography==48.0.0
deprecation==2.1.0
diff-match-patch==20241021
dj-database-url==3.1.2
Django==5.2.4
django-import-export==4.4.0
django-jazzmin==3.0.4
django-recaptcha==4.1.0
django-widget-tweaks==1.5.0
et_xmlfile==2.0.0
fsspec==2026.4.0
gunicorn==24.0.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.11
markdown-it-py==4.2.0
mdurl==0.1.2
mmh3==5.2.1
multidict==6.7.1
openpyxl==3.1.5
packaging==25.0
pefile==2023.2.7
pillow==11.2.1
postgrest==2.30.1
propcache==0.5.2
psycopg2-binary==2.9.12
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
pygame==2.6.1
Pygments==2.20.0
pyiceberg==0.11.1
pyinstaller==6.14.1
pyinstaller-hooks-contrib==2025.5
PyJWT==2.13.0
pyngrok==7.3.0
pyparsing==3.3.2
pyroaring==1.1.0
python-dateutil==2.9.0.post0
pywin32-ctypes==0.2.3
PyYAML==6.0.2
qrcode==8.2
realtime==2.30.1
reportlab==4.4.10
requests==2.32.5
rich==14.3.4
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
storage3==2.30.1
StrEnum==0.4.15
strictyaml==1.7.3
supabase==2.30.1
supabase-auth==2.30.1
supabase-functions==2.30.1
tablib==3.9.0
tenacity==9.1.4
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.6.3
uv==0.8.3
websockets==15.0.1
whitenoise==6.11.0
yarl==1.24.2
zstandard==0.25.0
